h1 {
    color: blue;
    font-size: 1em;
}

#heading2 {
    color: brown;
    font-size: 1.5em;
}

#paragraf1em {
    font-size: 1em;
}

#parag15 {
    font-size: 1.5em;
}

#parag2 {
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bolding {
    font-weight: bold;
    color: blueviolet;
    font-style: italic;
}

#thediv {
    background-color: rgb(71, 126, 69);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em;
    font-size: 1.5em;
    
}

#normal {
    font-size: 2em;
    background-color: black;
    color: blanchedalmond;
}

#inline {
    display: inline-block;
    height: 40%;
    width: 40%;
}

#image200 {
    float: left;
    margin: 2%;
}